<div class="flex justify-between items-center mb-4">
  <h1 class="text-2xl font-bold text-gray-200">Surveys</h1>
  <button (click)="openCreateModal()" class="bg-green-700 text-white px-3 py-1 rounded hover:bg-green-500 transition">
    New Survey
  </button>
</div>

<div class="flex justify-around flex-wrap gap-4 w-full">
  <app-survey-item
    *ngFor="let survey of surveys"
    [survey]="survey"
    (updateSurvey)="openUpdateModal(survey)"
    (deleteSurvey)="handleDelete($event)"
    class="w-full sm:w-2/3 lg:w-1/4 flex-shrink-0">
  </app-survey-item>
</div>

<app-modal-form
  *ngIf="showModal"
  [title]="modalTitle"
  [data]="modalData"
  (save)="handleSave($event)"
  (close)="closeModal()">
</app-modal-form>
